In [6]:
import pandas as pd

file_path = "C:/Users/DELL/Downloads/archive (12)/Telcos_Churn.csv"
df = pd.read_csv(file_path)

df.head()
# df.shape
df.info()
# df.describe()

# change seniorcitizen to obj, total charges to float
df["SeniorCitizen"] = df["SeniorCitizen"].astype(object)
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors= "coerce")

df.dtypes # confirm type change

# checking for NULL or missing values
df.isnull().sum()

# fill missing values (11) in TotalCharges with the formula Tenure * MonthlyCharges
df["TotalCharges"] = df["TotalCharges"].fillna(df["MonthlyCharges"] * df["tenure"])

df.isnull().sum() #checked for nulls again 

# highlight the columns with yes/no values
yesno_cols = ["Partner", "Dependents", "PhoneService", "PaperlessBilling", "Churn"]
df[yesno_cols] = df[yesno_cols].apply(lambda x: x.map({"Yes": 1, "No": 0}))
df[yesno_cols].head()

# save cleaned dataset
df.to_csv("cleaned_Telcos_Churn.csv", index= False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB